@model DataLayer.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hour.SelectHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour.SelectHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Station.StationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Station.StationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRez)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
